{% extends "AppViajeros/inicio.html" %}

{% load static %}

{% block titulo %}
<h1>Acerca de mi</h1>
{% endblock %}


{% block subtitulo %}
   
    

{% endblock %}


{% block cuerpo %}

            <p> Mi nombre es Melany, soy argentina y me encanta viajar. Para mi, los viajes comienzan desde el día que decidís que destino vas a visitar. Amo planear viajes, disfruto mucho de la búsqueda de lugares, donde alojarse, que hacer, a donde ir. Me gusta recorrer los puntos turísticos de cada ciudad, pero más me gusta descubrir esos lugares que no son tan conocidos y son igual o más lindos que los turísticos.
                No soy de armar itinerarios, pero si me gusta llevarme una lista con los lugares que me gustaría conocer, restaurantes que tengo que probar, parques por los cuales caminar o porque no donde recomiendan hacer compras.
                Es por eso que decidí armar este Blog, para que argentinos que estén por el mundo cuenten sus experiencias, recomienden lugares y compartamos toda la información necesaria para conocer lo mejor de cada lugar y perdernos lo menos posible.</p>

{% endblock %}
