{% extends "AppViajeros/inicio.html" %}

{% load static %}

{% block titulo %}
<h1>AFRICA</h1>
{% endblock %}


{% block subtitulo %}
<h2>Esperiencias en Africa</h2>
{% endblock %}


{% block cuerpo %}

<p><h1><i>{{africa.titulo}}</i></p></h1>
<p><i>{{africa.subtitulo}}</i></p>
<p><i>{{africa.lugar}}</i></p>
<p><i>{{africa.experiencia|safe}}</i></p>
<p>Escrito por:<i>{{africa.autor}}</i></p>
<p>Fecha de publicación:<i>{{africa.fecha}}</i></p>
<p><i>{{africa.imagen}}</i></p>

<p> 
    <a href="{% url 'africa' %}">Regresar</a>
    
</p>


{% endblock %}

