{% extends "AppViajeros/inicio.html" %}

{% load static %}

{% block titulo %}
<h1>AMERICA</h1>
{% endblock %}


{% block subtitulo %}
<h2>Experiencias en America</h2>
{% endblock %}


{% block cuerpo %}

<p><h1><i>{{america.titulo}}</i></p></h1>
<p><i>{{america.subtitulo}}</i></p>
<p><i>{{america.lugar}}</i></p>
<p><i>{{america.experiencia|safe}}</i></p>
<p>Escrito por:<i>{{america.autor}}</i></p>
<p>Fecha de publicación:<i>{{america.fecha}}</i></p>
<p><i>{{america.imagen}}</i></p>

<p> 
    <a href="{% url 'america' %}">Regresar</a>
    
</p>


{% endblock %}

