{% extends "AppViajeros/inicio.html" %}

{% load static %}

{% block titulo %}
<h1>ASIA</h1>
{% endblock %}


{% block subtitulo %}
<h2>Esperiencias en Asia</h2>
{% endblock %}


{% block cuerpo %}

<p><h1><i>{{asia.titulo}}</i></p></h1>
<p><i>{{asia.subtitulo}}</i></p>
<p><i>{{asia.lugar}}</i></p>
<p><i>{{asia.experiencia}}</i></p>
<p>Escrito por:<i>{{asia.autor}}</i></p>
<p>Fecha de publicación:<i>{{asia.fecha}}</i></p>
<p><i>{{asia.imagen}}</i></p>

<p> 
    <a href="{% url 'asia' %}">Regresar</a>
    
</p>


{% endblock %}

