{% extends "AppViajeros/inicio.html" %}

{% load static %}

{% block titulo %}
<h1>EUROPA</h1>
{% endblock %}


{% block subtitulo %}
<h2>Esperiencias en Europa</h2>
{% endblock %}


{% block cuerpo %}

<p><h1><i>{{europa.titulo}}</i></p></h1>
<p><i>{{europa.subtitulo}}</i></p>
<p><i>{{europa.lugar}}</i></p>
<p><i>{{europa.experiencia}}</i></p>
<p>Escrito por:<i>{{europa.autor}}</i></p>
<p>Fecha de publicación:<i>{{europa.fecha}}</i></p>
<p><i>{{europa.imagen}}</i></p>

<p> 
    <a href="{% url 'europa' %}">Regresar</a>
    
</p>


{% endblock %}

