{% extends "AppViajeros/inicio.html" %}

{% load static %}

{% block titulo %}
<h1>OCEANIA</h1>
{% endblock %}


{% block subtitulo %}
<h2>Esperiencias en Oceania</h2>
{% endblock %}


{% block cuerpo %}

<p><h1><i>{{oceania.titulo}}</i></p></h1>
<p><i>{{oceania.subtitulo}}</i></p>
<p><i>{{oceania.lugar}}</i></p>
<p><i>{{oceania.experiencia}}</i></p>
<p>Escrito por:<i>{{oceania.autor}}</i></p>
<p>Fecha de publicación:<i>{{oceania.fecha}}</i></p>
<p><i>{{oceania.imagen}}</i></p>

<p> 
    <a href="{% url 'oceania' %}">Regresar</a>
    
</p>


{% endblock %}

