{% extends "AppViajeros/inicio.html" %}

{% load static %}

{% block titulo %}
<h1>PERFIL</h1>
{% endblock %}


{% block subtitulo %}
<h2>Información de Perfil</h2>
{% endblock %}


{% block cuerpo %}


 <li>Usuario: {{usuario}}</li>

<p> <i>{{usuario.username}}</i></p>
<p><i>{{usuario.email}}</i></p>
<p><i>{{usuario.password1}}</i></p>
<p><i>{{usuario.password2}}</i></p>


    <button>
    <a href="{% url 'editarPerfil' %}">Editar Datos</a>
    </button>
    <button>
    <a href="{% url 'agregarAvatar' %}">Agregar Avatar</a>
    </button>
</p>


{% endblock %}

